# Python & Virtual Environment
venv/
**/venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Node Modules & Build (Frontend)
node_modules/
**/node_modules/
dist/
build/

# Environment Files
.env
**/.env

# System & IDE
.DS_Store
.vscode/
.idea/